<h1 class="display-1 text-center">
  {{currentTemp}}
</h1>
<div class="d-flex justify-content-center">
{{decrementer-button class="inverted" targetTemp=currentTemp}}
{{incrementer-button targetTemp=currentTemp}}
</div>